# Godot 4+ specific ignores
.godot/
export_presets.cfg

# ide config ignores

.editorconfig
.vs/
Moon.csproj.user
Moon.sln.DotSettings.user
Properties/
.idea/

# debug

moon_scene_path.debug

# exclude folders

build/
test/
.raw/
